@media screen and (max-width: 504px) {
  .nav {
    display: block !important;
  }
  .nav__logo {
    display: block !important;
    margin: 5px -70px;
  }
  .nav__links {
    margin: -2px -85px;
  }
  .nav__link:link {
    font-size: 0.8rem;
  }
  .nav__item {
    margin-left: 2rem;
  }
  .sticky .nav__links {
    margin: 5px -60px;
  }
  .sticky .nav__logo {
    margin: 5px -40px;
  }
  h1 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .header__title {
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
  }
  /* .header-item1 {
    grid-area: 1/1/1/3;
  } */
  .header-item2 {
    grid-area: 2/2/1/2;
  }
  .header-item3 {
    grid-area: 2/2/2/3;
  }
  .header-item4 {
    grid-area: 3/3/1/2;
  }
  .section__header {
    font-size: 2.5rem;
  }
  .features {
    display: inline;
  }
  .features__feature {
    width: 100%;
  }
  .features__img {
    display: block;
  }
  .features__icon {
    margin: 0 auto;
  }
  .features__header,
  .features__feature > p {
    text-align: center;
    padding-bottom: 5px;
  }
  .operations__tab {
    font-size: 0.8rem;
    padding: 0.8rem 2.8rem;
  }
  .operations__tab span {
    margin: 0 1px;
  }
  .operations__content--active {
    display: block;
  }
  .operations__icon {
    margin: 0 auto;
  }
  .operations__content--active h5 {
    font-size: 1.8rem;
    text-align: center;
  }
  .operations__content--active p {
    font-size: 1rem;
    text-align: justify;
  }
  .testimonial {
    width: 50%;
  }
  .slider__btn {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
  .testimonial__header {
    font-size: 1.5rem;
  }
  .testimonial__text,
  .testimonial__location,
  .testimonial__name {
    font-size: 1rem;
  }
  .btn-show {
    font-size: 1.5rem !important;
  }
  .section__header-last {
    font-size: 2rem !important;
  }
  .footer__nav {
    display: block;
  }
}
